*{
  margin: 0;
  padding: 0;
}

html, body {
  height:100%;
}



/*---Header---*/
header{
  background-color: blue;
}

.header{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.header a{
  color:#eee
  margin: 0;
  padding: 20px;
}


/*---Links---*/
.menu a:link, .menu a:visited{
  color: white;
  text-decoration: none;
  text-align: center;
  height: 60px;
  line-height: 60px;
  width: 100%;
}

/*---Footer--*/
footer {
position: sticky;
}
footer, .krysta, .krysta a:link, .krysta a:visited{
  color: gray;
  margin: center;
  text-decoration: none;
  font-family: monospace;
  font-size: 13px;
}

.krysta a:hover{
  color: blue;
}
